
<%= stylesheet_link_tag   'orders', media: 'all', 'data-turbolinks-track' => true %>

<%= form_tag sessions_path do %>
  <%= text_field_tag :server_name %>
  <%= password_field_tag :password %>
  <%= submit_tag "LogIn" %>
<% end %>

<div class="error">
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
</div>
