<h3>Welcome</h3>

<%= button_to "Log Out", sessions_path, method: :delete %>

<%= form_for @order do |f| %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<ul>
  <% @orders.each do |order| %>
    <li>
      <%= order.name %> <%= button_to "Remove", order_path(order), method: :delete%>
    </li>
  <% end %>
</ul>
