<h3>Bon Apetite!</h3>

<%= form_for @meal_time do |f| %>
  <%= f.collection_select(:order_id, Order.all, :id, :name) %>
  <%= f.collection_select(:group_id, Group.all, :id, :name) %>
  <%= f.submit %>
<% end %>

<ul>
  <% @meal_times.each do |meal_time| %>
    <li>
      <%= meal_time.group.name %> wants
      <%= meal_time.order.name %>
    </li>
  <% end %>
</ul>
